# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Lingkungan Virtual (Virtual Environments)
venv/
.venv/
env/
.env/

# Jupyter Notebook
.ipynb_checkpoints/
.ipynb

# Streamlit (optional, tapi biasanya secrets.toml di-ignore)
.streamlit/secrets.toml

# IDE & AI Tools
.vscode/
.idea/
.agents/

# File Log & OS
*.log
.DS_Store
Thumbs.db
